body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100%;
    width: 100%;
    background-color: #ab92f4;
    background: linear-gradient(to right,#ab92f4, #50359f);
}

.content {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
    max-width: 1450px;
    margin: 0 auto 0 auto;

}
table {
    border: #50359f 1px solid;
    background-color: #ece4ff;
    color: white;



}
th{
    text-shadow: #26194c 1px 1px 1px;
    padding: 10px;
    border: #50359f 1px solid;
}
td{
    padding: 10px;
    border: #50359f 1px solid;
}
caption {
    margin-bottom: 20px;
}
.top_calend {
    background-color: #6a46d3;
}

#prev {
   cursor: pointer;
}
#next{
    cursor: pointer;
}
#next:hover{
    background-color: #906fd3;
}
#prev:hover{
    background-color: #906fd3;
}
#currentdata {
    margin-top: 50px;
    color: #ece4ff;
    text-shadow: #26194c 1px 1px 1px;
}